::-webkit-input-placeholder{
	color: #999;
}
::-moz-input-placeholder{
	color: #999;
}
input-placeholder{
	color: #999;
}
.wrap{
	position: absolute;
	top: .54rem;
	left: 0;
	bottom: 0;
	width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}

.list{
	margin-top: .2rem;
	padding: 0 .2rem;
}
.list>li{
	position: relative;
	width: 100%;
	height: .46rem;
	line-height: .46rem;
	overflow: hidden;
	border-bottom: 1px solid #DDDDDD;
}
.list>li>*{
	float: left;
}
.list>li>input{
	margin-top: .11rem;
	margin-left: .1rem;
	width: 2.5rem;
	height: .22rem;
	line-height: .16rem;
	color: #222;
}
.list>li:last-of-type{
	height: auto;
}
.list>li:last-of-type>*{
	float: none;
}
.list>li:last-of-type>input{
	margin-left: 0;
	width: 100%;
	color: #999999;
}
.list>li>p{
	font-size: .14rem;
	color: #333;
}
.list>li>em{
	float: right;
	margin-top: .16rem;
	width: .08rem;
	height: .14rem;
	background: url(../imgs/arrow-r2.png) no-repeat;
	background-size: contain;
}
.list>li>a{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

/*选择地区弹层*/
.opacity{
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	background: rgba(0,0,0,0);
	display: none;
	transition: all .5s;
}

.select{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 3rem;
	background-color: #fff;
	overflow: hidden;
	transform: translate3d(0,8rem,0);
	transition: all .5s;
}
.select-top{
	position: relative;
	height: .4rem;
}
.select-top>span{
	position: absolute;
	top: .11rem;
	left: .1rem;
	width: .18rem;
	height: .18rem;
	background: url(../imgs/x.png) no-repeat;
	background-size: contain;
}
.select-top>h2{
	font-size: .14rem;
	line-height: .4rem;
	text-align: center;
	border-bottom: 1px solid #999;
	color: #333;
}
.select-wrap{
	height: 2.6rem;
	overflow: hidden;
}
.select-wrap>*{
	float: left;
	height: 100%;
	overflow: auto;
}
.select-wrap li{
	padding: 0 .1rem;
	height: .32rem;
	line-height: .32rem;
	color: #666;
}
.province{
	border-right: 1px solid #999;
}
.province>ul{
	background: #F0F0F0;
}
.province>ul>li{
}
.city{
}
.city>ul{}
.city>ul>li{
	padding-right: .5rem;
	color: #666;
}
.city>ul>li.active{
	background-color: rgba(0,0,0,.2);
}