body{
	background-color: #f0f0f0;
}

.wrap{
	position: absolute;
	top: .54rem;
	left: 0;
	bottom: 0;
	width: 100%;
}

.logout-btn{
	position: absolute;
	left: .1rem;
	top: .88rem;
	width: 3.55rem;
	height: .48rem;
	line-height: .48rem;
	font-size: .18rem;
	text-align: center;
	background-color: #F5A5C7;
	border-radius: 5px;
}