*{
	font-family: PingFangSC-Regular !important;
}

.wrap{
	position: absolute;
	top: .54rem;
	left: 0;
	bottom: 0;
	width: 100%;
	overflow-y: auto;
}
/*********商品评价*********/
.rate{
	padding: 0 .2rem;
	text-align: center;
}
.rate>h2{
	margin-bottom: .2rem;
	overflow: hidden;
}
.rate>h2>*{
	float: left;
	font-size: .14rem;
}
.rate>h2>span{
	color: #333;
}
.rate>h2>em{
	margin-left: .1rem;
	color: #3f3f3f;
}
.rate-list{}
.rate-list>li{
	border-bottom: 1px solid #f0f0f0;
}
.rate-list>li>.rate-user{
	margin-top: .28rem;
	line-height: .28rem;
	overflow: hidden;
}
.rate-list>li>.rate-user>*{
	float: left;
	margin-right: .2rem;
}
.rate-list>li>.rate-user>img{
	width: .28rem;
	height: .28rem;
	border: 1px solid #999;
	border-radius: 50%;
	opacity: 0;
	transition: all 1s;
}
.rate-list>li>.rate-user>span{
	margin-right: .1rem;
	font-size: .14rem;
	color: #333;
}
.rate-list>li>.rate-user>em{
	font-size: .12rem;
	color: #666;
}
.rate-list>li>p{
	margin-top: .1rem;
	padding-bottom: .28rem;
	line-height: .18rem;
	font-size: .12rem;
	color: #666;
	text-align: justify;
}
.rate-list>li:last-of-type{
	border-bottom: none;
}
.rate>button{
	margin: .2rem 0 .5rem 0;
	text-align: center;
	font-size: .14rem;
	color: #999;
}

.refresh{
	position: fixed;
	bottom: -1rem;
	left: 0;
	width: 100%;
	height: .4rem;
	line-height: .4rem;
	text-align: center;
	color: #fff;
	background-color: rgba(0,0,0,.5);
	transition: all .5s;
	z-index: 2;
}


