body{
	background-color: #f0f0f0;
}
.wrap{
	padding-bottom: .5rem;
	position: absolute;
	top: .54rem;
	left: 0;
	bottom: .5rem;
	width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}

.status-bar{
	position: relative;
	background-color: #fff;
	border-bottom: 1px solid #F0F0F0;
	overflow: hidden;
}
.status-bar>ul{
	position: relative;
	margin: .28rem 0;
	height: .48rem;
	overflow: hidden;
	z-index: 1;
}



/*5*/
.status-bar>ul>li{
	float: left;
	margin-left: .3rem;
}
.status-bar>ul>li:first-of-type{
	margin-left: .2rem;
}
.status-bar>ul>li>span{
	display: block;
	margin-left: .12rem;
	margin-top: .03rem;
	width: .18rem;
	height: .18rem;
	line-height: .18rem;
	text-align: center;
	color: #999999;
	background: url(../imgs/status-no.png) no-repeat;
	background-size: contain;
}
.status-bar>ul>li.active>span{
	margin-left: .09rem;
	margin-top: 0;
	width: .24rem;
	height: .24rem;
	line-height: .24rem;
	color: #fff;
	background: url(../imgs/status-yes.png) no-repeat;
	background-size: contain;
}
.status-bar>ul>li>p{
	margin-top: .13rem;
	font-size: .14rem;
	color: #999;
}
.status-bar>ul>li.active>p{
	margin-top: .1rem;
	color: #FF0099;
}
/*2*/
/*.status-bar>ul.three>li:nth-of-type(2){
	margin-left: 1.06rem;
}*/
.status-bar>ul.two>li:last-of-type{
	float: right;
	margin-right: .2rem;
}
/*3*/
.status-bar>ul.three>li:nth-of-type(2){
	margin-left: 1.06rem;
}
.status-bar>ul.three>li:last-of-type{
	float: right;
	margin-right: .2rem;
}
/*4*/
.status-bar>ul.four>li:nth-of-type(2){
	margin-left: .55rem;
}
.status-bar>ul.four>li:nth-of-type(3){
	margin-left: .55rem;
}
.status-bar>ul.four>li:last-of-type{
	float: right;
	margin-right: .2rem;
}
/*6*/
.status-bar>ul.six>li:nth-of-type(2){
	margin-left: .16rem;
}
.status-bar>ul.six>li:nth-of-type(3){
	margin-left: .16rem;
}
.status-bar>ul.six>li:nth-of-type(4){
	margin-left: .16rem;
}
.status-bar>ul.six>li:nth-of-type(5){
	margin-left: .16rem;
}
.status-bar>ul.six>li:last-of-type{
	float: right;
	margin-left: 0rem;
	margin-right: .2rem;
}
/*7*/
.status-bar>ul.seven>li:nth-of-type(2){
	margin-left: .07rem;
}
.status-bar>ul.seven>li:nth-of-type(3){
	margin-left: .07rem;
}
.status-bar>ul.seven>li:nth-of-type(4){
	margin-left: .07rem;
}
.status-bar>ul.seven>li:nth-of-type(5){
	margin-left: .07rem;
}
.status-bar>ul.seven>li:nth-of-type(6){
	margin-left: .07rem;
}
.status-bar>ul.seven>li:last-of-type{
	float: right;
	margin-left: 0rem;
	margin-right: .2rem;
}

.line{
	position: absolute;
	left: .45rem;
	top: .39rem;
	width: 2.8rem;
	height: .03rem;
	background-color: #D8D8D8;
	z-index: 0;
}


.address{
	position: relative;
	margin-top: .1rem;
	padding: 0 .16rem;
	height: 1rem;
	overflow: hidden;
	background-color: #fff;
}
.address>*>*{
	font-size: .14rem;
	color: #333;
}
.address>.geter{
	margin-top: .2rem;
	padding: 0 .26rem;
	overflow: hidden;
}
.address>.geter>span{
	float: left;
}
.address>.geter>em{
	float: right;
}

.address>.detail-adress{
	width: 100%;
	overflow: hidden;
}
.address>.detail-adress>*{
	float: left;
}
.address>.detail-adress>i{
	margin-top: .1rem;
	width: .14rem;
	height: .16rem;
	background: url(../imgs/local-bg.png) no-repeat;
	background-size: contain;
}
.address>.detail-adress>p{
	margin-top: .07rem;
	margin-left: .12rem;
	line-height: .18rem;
	width: 3.05rem;
}
.address>.detail-adress>em{
	float: right;
	margin-top: .1rem;
	width: .06rem;
	height: .12rem;
	background: url(../imgs/arrow-r.png) no-repeat;
	background-size: contain;
}

.address>a{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	font-size: .14rem;
}

.goods-wrap{
	margin-top: .1rem;
	padding-left: .15rem;
	background-color: #fff;
}
.pic-info{
	padding-bottom: .04rem;
	overflow: hidden;
	border-bottom: 1px solid #f0f0f0;
}
.pic-info>img{
	float: left;
	margin-top: .1rem;
	width: .9rem;
	height: .9rem;
}
.pic-info>ul{
	float: left;
	padding-right: .15rem;
	margin-left: .15rem;
	width: 2.55rem;
}
.pic-info>ul>li{
	line-height: .26rem;
}
.pic-info>ul>li.price{
	margin-top: .15rem;
}
.pic-info>ul>li:first-of-type{
	margin-top: .1rem;
}
.pic-info>ul>li>*{
	font-size: .12rem;
	color: #4a4a4a;
}
.pic-info>ul>li>span{}

.pic-info .style{}
.pic-info .style>p{
	font-size: .14rem;
	color: #333;
	white-space:nowrap; 
	text-overflow:ellipsis;
	overflow: hidden;
}
.pic-info .ornament{
	font-size: .12rem;
}
.pic-info .ornament>span{
	color: #666;
}
.pic-info .ornament>em{
	color: #666;
}
.pic-info .price{}
.pic-info .price>span{
	font-size: .16rem;
	color: #E3458D;
}
.pic-info .price>em{
	float: right;
	color: #333;
}
.pic-info .price>em>i{
	color: #999;
}

.pay-detail{}
.pay-detail>ul{
	padding-left: .15rem;
	margin-bottom: .1rem;
	background-color: #fff;
	border-bottom: 1px solid #f0f0f0;
}
.pay-detail>ul>li>*{
	float: left;
	font-size: .14rem;
}
.pay-detail>ul>li{
	padding-right: .15rem;
	height: .36rem;
	line-height: .36rem;
	overflow: hidden;
}
.pay-detail>ul>li>span{
	line-height: .36rem;
	color: #666;
}
.pay-detail>ul>li>em{
	float: right;
	color: #333;
}
.pay-detail>ul>li.need-pay{}
.pay-detail>ul>li.need-pay>span{
	float: right;
	font-size: .18rem;
	color: #333;
}
.pay-detail>ul>li.need-pay>em{
	float: right;
	font-size: .18rem;
	color: #E3458D;
}

.tips{
	margin-top: .1rem;
	padding-left: .2rem;
	height: .74rem;
	background-color: #fff;
	overflow: hidden;
	display: none;
}
.tips>h2{
	margin-top: .1rem;
	font-size: .16rem;
	color: #333;
}
.express{
	display: none;
}
.express,.order-about{
	margin-top: .1rem;
	padding: 0 .2rem;
	background-color: #fff;
	overflow: hidden;
}
.order-about{
	padding: .06rem 0 .06rem .2rem;
}
.order-about p,.tips p{
	line-height: .3rem;
}
.express{
	padding-bottom: .2rem;
}
.express>h2{
	margin-top: .1rem;
	line-height: .3rem;
	font-size: .16rem;
	color: #333;
}
.express>p{
	margin-top: .1rem;
}
.express>p>span,.order-about>p>span,.tips>p>span{
	font-size: .14rem;
	color: #666;
}
.express>p>em,.order-about>p>em,.tips>p>em{
	margin-left: .26rem;
	font-size: .14rem;
	color: #333;
}
.express>p>em.express-num a{
	color: #4990E2;
	font-size: .14rem;
}
.express-step{
	margin-top: .1rem;
	background-color: #fff;
	overflow: hidden;
	display: none;
}
.express-step>ul{
	margin-top: .22rem;
	padding-left: .16rem;
	margin-bottom: .22rem;
}
.express-step>ul>li{
	height: .78rem;
}
.express-step li{}
.express-step li>div{
	float: left;
	width:2.9rem; 
	height: 100%;
	overflow: hidden;
}
.express-step li>.line-dot{
	position: relative;
	width: .44rem;
}
.express-step li>.line-dot>*{
	position: absolute;
}
.express-step li>.line-dot>i{
	top: 0;
	left: .02rem;
	width: .11rem;
	height: .11rem;
	background: url(../imgs/dot.png) no-repeat;
	background-size: contain;
	z-index: 1;
}
.express-step li.active>.line-dot>i{
	left: 0;
	width: .15rem;
	height: .15rem;
	background: url(../imgs/dot-ok.png) no-repeat;
	background-size: contain;
}
.express-step li>.line-dot>span{
	width: .01rem;
	height: .7rem;
	top: .1rem;
	left: .07rem;
	background-color: #DDDDDD;
}
.express-step li>.status-detail{}
.express-step li>.status-detail>p{
	line-height: .2rem;
	font-size: .14rem;
	color: #999;
}
.express-step li.active>.status-detail>p{
	color: #222;
}

.bottom-btn{
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 0 .2rem;
	width: 100%;
	height: .5rem;
	line-height: .5rem;
	background-color: #fff;
	border-top: 1px solid #f0f0f0;
}
.bottom-btn>a{
	font-size: .12rem;
	color: #666;
}
.bottom-btn>em{
	margin-top: .12rem;
	padding: 0 .1rem;
	height: .26rem;
	line-height: .26rem;
	float: right;
	color: #CB68A4;
	border-radius: 5px;
	border: 1px solid #CB68A4;
}

.bottom-btn>em:last-of-type,.again .server-support{
	margin-right: .1rem;
	color: #666;
	border-radius: 5px;
	border: 1px solid #666;
}
.bottom-btn>em:last-of-type{
	margin-right: 0;
}
.bottom-btn>.again-buy{
	margin-left: .1rem;
}
.pay>.again-buy,.pay>.ok,.pay>.server-support,.pay>.refund-money{
	display: none;
}
.refund>.again-buy,.refund>.delete-order,.refund>.server-support,.refund>.pay-money{
	display: none;
}
.ok>.again-buy,.ok>.delete-order,.ok>.server-support,.ok>.pay-money,.ok>.refund-money{
	display: none;
}
.again>.ok,.again>.pay-money,.again>.refund-money{
	display: none;
}
.bottom-btn>em.ok,.bottom-btn>em.pay-money{
	color: #CB68A4;
	border-radius: 5px;
	border: 1px solid #CB68A4;
}
.opacity{
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: rgba(0,0,0,.4);
	transition: all .5s;
	display: none;
	opacity: 0;
	z-index: 1;
}
.opacity .con{
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -1.5rem;
	margin-left: -1.35rem;
	background-color: rgba(255,255,255,.95);
	border-radius: 12px;
	overflow: hidden;
}
.opacity .con .con-top{
	width: 2.7rem;
	height: 1.17rem;
	background: url(../imgs/opacity-bg.png) no-repeat;
	background-size: contain;
}
.opacity .con p{
	text-align: center;
	line-height: .4rem;
	color: #222;
}
.opacity .con li{
	float: left;
	width: 50%;
	line-height: .45rem;
	text-align: center;
	color: #666;
	border-top: 1px solid #D8D8D8;
}
.opacity .con li:last-of-type{
	border-left: 1px solid #D8D8D8;
}
.opacity .con h2,.opacity .con input,.opacity .cancel input{
	display: none;
}
.opacity .reason h2,.opacity .cancel h2{
	display: block;
	font-size: .18rem;
	color: #222;
	text-align: center;
	line-height: .4rem;
}
.opacity .cancel a{
	margin-top: .4rem;
	display: block;
	line-height: .45rem;
	text-align: center;
	color: #0076ff;
	font-size: .18rem;
	border-top: 1px solid #e3e3e3;
}
.opacity .reason a{
	display: none;
}
.opacity .reason input{
	display: block;
	margin-left: .2rem;
	margin-bottom: .12rem;
	width: 2.3rem;
	height: .24rem;
	color: #999;
	text-indent: 2em;
	background-color: #fff;
	border-radius: 3px;
}
.custom-service{
	position: fixed;
	right: .1rem;
	bottom: .6rem;
	width: .6rem;
	height: .6rem;
	background: url(../imgs/custom-service.png) no-repeat;
	background-size: contain;
}

.comments{
	padding-top: .1rem;
	background-color: #fff;
	display: none;
}
.comments ul{}
.comments li{
	padding-top: .2rem;
	padding-bottom: .2rem;
	overflow: hidden;
}
.comments li>*{
	float: left;
}
.comments li>span{
	width: .7rem;
	font-size: .14rem;
	text-align: center;
	color: #333;
}
.comments li>div{
	width: 3.05rem;
}
.comments li>div p{
	margin-top: -.04rem;
	line-height: .2rem;
	font-size: .14rem;
	color: #333;
}
.comments li.invoice-detail{
	
	border-top: 1px solid #F0F0F0;
}
.comments li.invoice-detail p{
	line-height: .24rem;
}
.comments li.invoice-detail p>*{
	font-size:.14rem;
	color: #333;
}
.comments li.invoice-detail p span{}
.comments li.invoice-detail p em{}

/*售后背影*/
.sold-server{
	width: 100%;
	height: .88rem;
	background: url(../imgs/sold-server-bg.png) no-repeat;
	background-size: contain;
	display: none;
}
.sold-server p{
	line-height: .88rem;
	color: #fff;
	font-size: .2rem;
	text-indent: .4rem;
}