*{
	font-family: PingFangSC-Regular !important;
}

header{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 2;
	background: rgba(255,255,255,0);
	border-bottom: 1px solid rgba(240,240,240,0);
}
header>em{
	top: .07rem;
	left: .1rem;
	width: .4rem;
	height: .4rem;
}
header>span.share{
	top: .07rem;
	right: .1rem;
	width: .4rem;
	height: .4rem;
	background: url(../imgs/share-icon.png) no-repeat;
	background-size: contain;
}
header>span.server{
	top: .07rem;
	right: .6rem;
	width: .4rem;
	height: .4rem;
	background: url(../imgs/detail-server.png) no-repeat;
	background-size: contain;
	display: none;
}
header>i{
	background: none;
}
.wrap{
	position: absolute;
	top: 0;
	left: 0;
	bottom: .55rem;
	width: 100%;
	overflow-y: auto;
}
/*图片滑动*/
.goods-detail{
	position: relative;
}
.goods-detail>span{
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -.8rem 0 0 -.8rem;
	width: 1.6rem;
	height: 1.6rem;
	background: url(../imgs/sale out.png) no-repeat;
	background-size: contain;
	z-index: 1;
	display: none;
}
.goods-detail .swiper-container{
	position: relative;
	width: 3.75rem;
	height: 3.75rem;
	box-shadow: 0 3px 4px rgba(0,0,0,.1) ;
}
.goods-detail .swiper-slide{
	
}
.goods-detail .swiper-slide>img{
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: all 1s;
}
.goods-detail .swiper-pagination{
	position: absolute;
	left: auto;
	right: .1rem;
	bottom: .1rem;
	width: .38rem;
	height: .38rem;
	line-height: .38rem;
	text-align: center;
	background-color: rgba(0,0,0,.2);
	border-radius: 50%;
}
.goods-detail .swiper-pagination-current{
	font-size: .18rem;
	margin-top: .02rem;
}
.goods-detail .swiper-pagination-total{
	
	font-size: .12rem;
}

/*商品颜色列表*/
.goods-color{
	margin-top: .03rem;
	width: 100%;
	border-bottom: 1px solid #F0F0F0;
	overflow-x: auto;
}
.goods-color-list{
	padding-top: .14rem;
	overflow: hidden;
}
.goods-color-list>li{
	float: left;
	position: relative;
	width: 1.08rem;
	text-align: center;
}
.goods-color-list>li>div{
	position: relative;
	margin-left: .3rem;
	width: .48rem;
	height: .48rem;
	border-radius: 5px;
	border: 1px solid #999;
	overflow: hidden;
}
.goods-color-list>li>div>img{
	width: .48rem;
	height: .48rem;
	opacity: 0;
	transition: all 1s;
}
.goods-color-list>li>div>span.active{
	position: absolute;
	bottom: -1px;
	right: -1px;
	width: .16rem;
	height: .17rem;
	background: url(../imgs/corner.png) no-repeat;
	background-size: contain;
}
.goods-color-list>li>p{
	margin-top: .1rem;
	margin-bottom: .2rem;
	width: 100%;
	font-size: .1rem;
	color: #666;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis; 
}
.goods-color-list>li>a{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
/*商品价格相关*/
.goods-about{
	padding: .25rem .2rem;
	border-bottom: 1px solid #F0F0F0;
}
.goods-sign{
	overflow: hidden;
}
.goods-sign>*{
	float: left;
}
.goods-sign>span>i{

	font-size: .18rem;
	color: #E3458D;
}
.goods-sign>span>em{
	font-size: .28rem;
	color: #E3458D;
}
.goods-sign>p{
	margin-top: .11rem;
	margin-left: .05rem;
	margin-right: .05rem;
	width: .5rem;
	text-decoration: line-through;
	color: #666;
}
.goods-sign>p>span{
	line-height: .14rem;
	color: #666;
}
.goods-sign>em{
	margin-top: .02rem;
	margin-right: .05rem;
	padding: .05rem .1rem;
	font-size: .1rem;
	color: #fff;
	border-radius: 3px;
}
.goods-sign>em.blue{
	background-color: #DEA1FF;/*初生*/
}
.goods-sign>em.pink{
	background-color: #FFA2DE;/*满月*/
}
.goods-sign>em.sky{
	background-color: #DEA1FF;/*生日*/
}
.goods-sign>em.sea{
	background-color: #8CBFF1;/*百天*/
}
.goods-sign>em.deep-sea{
	background-color: #A78CF1;/*记忆*/
}
.goods-sign>em.light-pink{
	background-color: #F5A5C7;/*高兴就送*/
}
.goods-sign>em.light-red{
	background-color: #F97F84;/*礼物*/
}
.goods-sign>em.light-yellow{
	background-color: #F9B94F;/*产品*/
}
.goods-sign>em.light-green{
	background-color: #98CC63;/*亲子*/
}
.goods-sign>em.deep-blue{
	background-color: #47A7DE;/*定制*/
}

.goods-about>h2{
	margin-top: .22rem;
	font-size: .18rem;
	color: #222;
}
.goods-about>p{
	margin-top: .08rem;
	font-size: .12rem;
	color: #999;
}

/*********图文详情*********/
.goods-introduce{
	padding: 0 .2rem .1rem .2rem;
}
.goods-introduce>h2{
	margin: .3rem 0 .2rem 0;
	font-size: .14rem;
	color: #333;
}
.goods-introduce>img{
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: all 1s;
}

/*********商品评价*********/
.rate{
	padding: 0 .2rem;
	text-align: center;
	display: none;
}
.rate>h2{
	margin-bottom: .2rem;
	overflow: hidden;
}
.rate>h2>*{
	float: left;
	font-size: .14rem;
}
.rate>h2>span{
	color: #333;
}
.rate>h2>em{
	margin-left: .1rem;
	color: #3f3f3f;
}
.rate-list{}
.rate-list>li{
	border-bottom: 1px solid #f0f0f0;
}
.rate-list>li>.rate-user{
	margin-top: .28rem;
	line-height: .28rem;
	overflow: hidden;
}
.rate-list>li>.rate-user>*{
	float: left;
	margin-right: .2rem;
}
.rate-list>li>.rate-user>img{
	width: .28rem;
	height: .28rem;
	border: 1px solid #999;
	border-radius: 50%;
}
.rate-list>li>.rate-user>span{
	margin-right: .1rem;
	font-size: .14rem;
	color: #333;
}
.rate-list>li>.rate-user>em{
	font-size: .12rem;
	color: #666;
}
.rate-list>li>p{
	margin-top: .1rem;
	padding-bottom: .28rem;
	line-height: .18rem;
	font-size: .12rem;
	color: #666;
	text-align: justify;
}
.rate-list>li:last-of-type{
	border-bottom: none;
}
.rate>button{
	margin: .2rem 0 .5rem 0;
	text-align: center;
	font-size: .14rem;
	color: #999;
}
.rate>button>a{
	font-size: .14rem;
	color: #999;
}

/******购物车******/
.shopping-car{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: .55rem;
	line-height: .55rem;
	overflow: hidden;
}
.shopping-car>*{
	float: left;
	height: .55rem;
}
.shopping-car>div{
	position: relative;
	width: .67rem;
}
.shopping-car>div>a{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.shopping-car>div>span{
	margin-left: .13rem;
	width: .4rem;
	height: .4rem;
}
.shopping-car>div>em{
	display: block;
	margin-top: -.05rem;
	height: .25rem;
	line-height: .25rem;
	text-align: center;
}
.shopping-car>.server>span{
	display: block;
	background: url(../imgs/server-icon.png) no-repeat;
	background-size: contain;
}
.shopping-car>.server>em{
	font-size: .1rem;
	color: #666;
}
.shopping-car>.car>span{
	display: block;
	background: url(../imgs/car-icon.png) no-repeat;
	background-size: contain;
}
.shopping-car>.car>em{
	font-size: .1rem;
	color: #666;
}
.shopping-car>i,.shopping-car>b{
	width: 1.2rem;
	height: .55rem;
	font-size: .14rem;
	text-align: center;
	color: #fff;
}
.shopping-car>i{
	background-color: #77CEE5;
}
.shopping-car>b{
	background-color: #F5A5C7;
}

.shopping-car>span{
	display: none;
}
// .sale-out .server{
// 	width: 1.35rem;
// 	text-align: center;
// }
// .sale-out .server>span{
// 	margin-left: .54rem;
// }

.sale-out i,.sale-out b{
	display: none;
}
.sale-out>span{
	display: block;
	width: 2.4rem;
	line-height: .55rem;
	font-size: .14rem;
	color: #fff;
	text-align: center;
	background-color: #999;
}
/*****加入购物车的弹层*****/
.opacity{
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	overflow-y: auto;
	background-color: rgba(0,0,0,.5);
	z-index: 2;
	display: none;
	opacity: 0;
	transition: all .5s;
}
.opacity-con{
	position: absolute;
	top: 9rem;
	bottom: 0;
	padding-top: 1.9rem;
	width: 100%;
	overflow-y: auto;
	transition: all .5s;

}
.opacity-wrap{
	min-height: 6rem;
	padding-bottom: .5rem;
	height: auto;
	background-color: #fff;
}
.opacity-wrap-top{
	position: relative;
	border-bottom: 1px solid #f0f0f0;
}
.opacity-wrap-top>img{
	float: left;
	margin-left: .08rem;
	margin-top: -.5rem;
	margin-bottom: .15rem;
	width: 1.2rem;
	height: 1.2rem;
	border: 1px solid #999;
	border-radius: 5px;
}
.opacity-wrap-top>div{
	float: left;
	margin-left: .15rem;
}
.opacity-wrap-top>span{
	position: absolute;
	right: .1rem;
	top: .1rem;
	width: .14rem;
	height: .14rem;
	background: url(../imgs/x-icon.png) no-repeat;
	background-size: contain;
}
.opacity-wrap-top>div>p{
	margin-top: .2rem;
	font-size: .18rem;
	color: #E3458D;
}
.opacity-wrap-top>div>span{
	display: inline-block;
	margin-top: .05rem;
	font-size: .12rem;
	color: #666;
}
.goods-public{
	margin-top: .25rem;
	overflow: hidden;
}
.goods-public>p,.goods-count>p{
	float: left;
	margin-top: .06rem;
	width: .6rem;
	font-size: .14rem;
	text-align: center;
	color: #666;
}
.goods-public>ul,.goods-count>ul{
	float: left;
	width: 3rem;
}
.goods-public>ul>li{
	position: relative;
	float: left;
	margin-right: .24rem;
	margin-bottom: .1rem;
	padding: .05rem .1rem;
	font-size: .14rem;
	color: #4a4a4a;
	border: 1px solid #999999;
	border-radius: 4px;
}
.goods-public>ul>li.active{
	color: #E3458D;
}
.goods-public>ul>li.saleout{
	color: #fff;
	background-color: #ddd;
	border: 1px solid #ddd;
}
.goods-public>ul>li.active>span{
	position: absolute;
	bottom: -1px;
	right: -1px;
	width: .16rem;
	height: .17rem;
	background: url(../imgs/corner.png) no-repeat;
	background-size: contain;
}
.goods-parts{
	margin-top: .4rem;
}
.goods-count{
	overflow: hidden;
	margin-top: .15rem;
	margin-bottom: .5rem;
}
.goods-count>ul{
	width: auto;
	border: 1px solid #999;
	border-radius: 4px;
}
.goods-count>ul>li{
	float: left;
	width: .24rem;
	height: .24rem;
	line-height: .24rem;
	font-size: .14rem;
	color: #999999;
	text-align: center;
}
.goods-count>ul>li:first-of-type{
	border-right: 1px solid #f0f0f0;
}
.goods-count>ul>li:nth-of-type(2){
	width: .3rem;
	color: #333;
}
.goods-count>ul>li:last-of-type{
	border-left: 1px solid #f0f0f0;
}

/*******自定义需求******/
.custom-wrap{
	padding: 0 .15rem;
}
.remark{
	padding: .18rem 0;
	border-top: 1px solid #f0f0f0;
	overflow: hidden;
}
.remark>span{
	float: left;
	width: .46rem;
	line-height: .32rem;
	text-align: left;
	color: #666;
	font-size: .14rem;
}
.remark>div{
	float: left;
	width: 2.94rem;
	height: auto;
	line-height: .32rem;
	color: #ddd;
	border: 1px solid #ddd;
	border-radius: 4px;
}
.remark>div>textarea{
	margin-left: .1rem;
	width: 2.8rem;
	height: 1rem;
	color: #999;
	font-size: .14rem;
}
.remark>div>textarea::-webkit-input-placeholder{
	color: #999;
}

.mark{}
.mark>h3{
	line-height: .66rem;
	overflow: hidden;
}
.mark>h3>span{
	float: left;
	font-size: .14rem;
	color: #666;
}
.mark>h3>i{
	float: left;
}
.mark>p{
	line-height: .2rem;
	color: #333;
	font-size: .14rem;
	text-align: justify;
}
.mark>div{
	margin-top: .32rem;
	width: 3.3rem;
	height: .3rem;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
}
.mark>div>input{
	margin-left: .1rem;
	margin-top: .05rem;
	width: 3.2rem;
	height: .2rem;
	color: #999;
	font-size: .14rem;
}

.mark>div>input::-webkit-input-placeholder{
	color: #999;
}
.mark>em{
	display: inline-block;
	margin-top: .15rem;
	font-size: .12rem;
	color: #999;
}

.select-font{}
.select-font>h2{
	line-height: .76rem;
	color: #333;
	font-size: .16rem;
}
.select-font .line{
	width:100%;
	overflow: hidden;
}
.select-font .line>*{
	float: left;
}
.select-font .line>i{
	margin-top: .04rem;
	width: 1.48rem;
	height: 1px;
	background-color: #ddd;
}
.select-font .line>i:first-of-type{}
.select-font .line>i:last-of-type{}
.select-font .line>em{
	width: .48rem;
	text-align: center;
	font-size: .12rem;
	color: #333;
}
.select-font>ul{
	margin-top: .15rem;
	overflow: hidden;
}
.select-font>ul>li{
	float: left;
	margin-left: .13rem;
	width: .76rem;
}
.select-font>ul>li:first-of-type{
	margin-left: 0;
}
.select-font>ul>li>span{
	float: left;
	width: .12rem;
	height: .12rem;
	background: url(../imgs/select-space.png) no-repeat;
	background-size: contain;
}
.select-font>ul>li>img{
	float: left;
	margin-left: .04rem;
	width: .54rem;
}
.select-font .chinese img{
	width: .4rem;
}
.notice{
	margin-top: .35rem;
}
.notice>h2{
	float: left;
	padding: 0 .2rem;
	height: .3rem;
	line-height: .3rem;
	font-size: .18rem;
	text-align: center;
	background-color: #AAE0F7;
	border-radius: 2px;
}
.notice>ul{
	margin-top: .4rem;
}
.notice>ul>li{
	overflow: hidden;
}
.notice>ul>li>span{
	float: left;
	margin-top: .06rem;
	width: .06rem;
	height: .06rem;
	background-color: #AAE0F7;
	border-radius: .03rem;
}
.notice>ul>li>p{
	float: left;
	margin-left: .1rem;
	line-height: .2rem;
	font-size: .12rem;
	color: #9B9B9B;
}
.notice>ul>li:nth-of-type(3) p{
	margin-top: -.12rem;
}
.opacity-button{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: .48rem;
	line-height: .48rem;
	background-color: #F5A5C7;
	text-align: center;
	font-size: .18rem;
	color: #fff;
}
.opacity-button{}
/*分享弹层*/
.opacity1{
	position: fixed;
	top: .0;
	left: 0;
	right: 0;
 	bottom: 0;
	width: 100%;
	background: url(../imgs/tips.png) no-repeat;
	background-size: 100% 100%;
	z-index: 2;
	display: none;
	opacity: 0;
	transition: all .5s;
}
em.close{
	position: absolute;
	right: 0;
	top: 0;
	width: .4rem;
	height: .4rem;
}

/*气泡*/
.shopping-car .car span{
	position: relative;
}
.shopping-car .car b{
	position: absolute;
	right: 0;
	top: .02rem;
	width: .15rem;
	height: .15rem;
	line-height: .15rem;
	text-align: center;
	color: #fff;
	border-radius: 50%;
	background-color: #CB68A4;
}
.pic-wrap{
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	z-index: 2;
	background-color: rgba(255,255,255,1);
	display: none;
	opacity: 0;
	transition: all .5s;
}
.pic-wrap img{
	position: absolute;
	left: 50%;
	top: 50%;
	width: 100%;
}