body{
	background-color: #f0f0f0;
}
.wrap{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	top: .54rem;
	bottom: 0;
	overflow-y: auto;
}
.topic-pic{
	position: relative;
	width: 100%;
	height: 1rem;
}
.topic-pic>img{
	width: 100%;
	height: 100%;
}
.topic-pic>a{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.tab-bar{
	margin-bottom: .1rem;
	padding: 0 .2rem;
	padding-bottom: .2rem;
	background-color: #fff;
}
.tab-bar .tab-bar-item{
	overflow: hidden;
}
.tab-bar .tab-bar-item-top{
	margin-top: .1rem;
	height: .24rem;
	line-height: .24rem;
	overflow: hidden;
}
.tab-bar .tab-bar-item-top>*{
	float: left;
}
.tab-bar .tab-bar-item-top>span{
	font-size: .14rem;
	color: #333;
}
.tab-bar .tab-bar-item-top>p{
	float: right;
	margin-right: .1rem;
	width: 2.5rem;
	text-align: right;
	color: #4a4a4a;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.tab-bar .tab-bar-item-top>p.active{
	color: #CB68A4;
}
.tab-bar .tab-bar-item-top>i{
	float: right;
	margin-top: .09rem;
	width: .08rem;
	height: .06rem;
	background: url(../imgs/bottom-triangle.png) no-repeat;
	background-size: contain;
}
.tab-bar .tab-bar-item-top>i.active{
	background: url(../imgs/top-triangle.png) no-repeat;
	background-size: contain;
}
.tab-bar .tab-bar-item ul{
	height: .34rem;
	overflow: hidden;
}
.tab-bar .tab-bar-item li{
	float: left;
	position: relative;
	margin-top: .1rem;
	margin-right: .21rem;
	width: .68rem;
	height: .24rem;
	line-height: .24rem;
	text-align: center;
	color: #4a4a4a;
	background-color: #F0F0F0;
	border-radius: 3px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.tab-bar .tab-bar-item li:nth-of-type(4n){
	margin-right: 0;
}
.tab-bar .tab-bar-item li b{
}
.tab-bar .tab-bar-item li.active{
	color: #CB68A4;
	background-color: #fff;
	border: 1px solid #CB68A4;
}
.tab-bar .tab-bar-item li.active b{
	position: absolute;
	right: -.03rem;
	bottom: -.01rem;
	width: .19rem;
	height: .19rem;
	background: url(../imgs/corner.png) no-repeat;
	background-size: contain;
}
.tab-bar .type{}
.tab-bar .material{}
.tab-bar .price{}


.kind-gife-list{
	margin-top: .18rem;
	margin-left: .1rem;
	padding-bottom: .05rem;
	width: 2.55rem;
	border-bottom: 1px solid #999;
	overflow: hidden;
}
.kind-gife-list>li{
	float: left;
	width: .85rem;
	text-align: center;
}
.kind-gife-list>li>img{
	width: .6rem;
	height: .6rem;
}
.kind-gife-list>li>p{
	line-height: .36rem;
	font-size: .12rem;
	color: #020635;
}

.kind-public-list{
	background-color: #fff;
}
.kind-public-list>li{
	position: relative;
	width: 100%;
	height: 1.2rem;
	border-top: 1px solid #f0f0f0;
	overflow: hidden;
}
.kind-public-list>li>a{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.kind-public-list>li>img{
	float: left;
	width: 1.2rem;
	height: 1.2rem;
	opacity: 0;
	transition: all 1s;
}
.kind-public-list>li>div{
	position: relative;
	float: left;
	width: 2.55rem;
	height: 1.2rem;
}
.kind-public-list>li>div h3{
	position: absolute;
	top: .19rem;
	left: .1rem;
	width: 2.2rem;
	line-height: .16rem;
	font-size: .14rem;
	color: #666;
}
.kind-public-list>li>div em{
	position: absolute;
	bottom: .3rem;
	left: .1rem;
	width: 2.2rem;
	font-size: .18rem;
	color: #E74566;
}


.refresh{
	position: fixed;
	bottom: -1rem;
	left: 0;
	width: 100%;
	height: .4rem;
	line-height: .4rem;
	text-align: center;
	color: #fff;
	background-color: rgba(0,0,0,.5);
	transition: all .5s;
	z-index: 2;
}

