
body{
	background-color: #F0F0F0;
}
.wrap{
	position: absolute;
	top: .54rem;
	left: 0;
	bottom: 0;
	width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}
.no{
	background: #fff url(../imgs/no-order.png) 50% 30% no-repeat;
	background-size: 70%;
}
.list{}
.list>li{
	margin-top: .2rem;
	background-color: #fff;
	box-shadow: 0 1px 1px 1px rgba(0,0,0,.1)
}
.list>li:last-of-type{
	margin-bottom: .2rem;
}
.list .status{
	padding: 0 .15rem;
	line-height: .3rem;
	overflow: hidden;
	border-bottom: 1px solid #f0f0f0;
}
.list .status>*{
	color: #999999;
	font-size: .12rem;
}
.list .status>i{
	margin-left: .1rem;
}
.list .status>em{
	float: right;
	font-size: .14rem;
}
.goods-detail{
	overflow: hidden;
	border-bottom: 1px solid #f0f0f0;
}
.goods-detail>*{
	float: left;
}
.goods-detail>img{
	margin: .05rem 0;
	margin-left: .15rem;
	width: .9rem;
	height: .9rem;
}
.goods-detail>ol{
	margin-left: .16rem;
	margin-top: .06rem;
}
.goods-detail>ol>li{
	font-size: .16rem;
	line-height: .3rem;
	color: #4A4A4A;
}

.btn-list{
	padding: 0 .15rem;
	height: .4rem;
	line-height: .4rem;
}
.btn-list>*{
	float: left;
	color: #222;
}
.btn-list>em{
	font-size: .14rem;
}
.btn-list>span,.btn-list>a{
	float: right;
	margin-left: .2rem;
	margin-top: .07rem;
	width: .72rem;
	height: .26rem;
	text-align: center;
	line-height: .26rem;
	color: #666;
	border: 1px solid #979797;
	border-radius: 3px;
}
.btn-list>span:last-of-type{
	margin-left: 0;
}

.opacity{
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: rgba(0,0,0,.4);
	transition: all .5s;
	display: none;
	opacity: 0;
}
.opacity .con{
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -1.5rem;
	margin-left: -1.35rem;
	background-color: rgba(255,255,255,.95);
	border-radius: 12px;
	overflow: hidden;
}
.opacity .con .con-top{
	width: 2.7rem;
	height: 1.17rem;
	background: url(../imgs/opacity-bg.png) no-repeat;
	background-size: contain;
}
.opacity .con p{
	text-align: center;
	line-height: .4rem;
	color: #222;
}
.opacity .con li{
	float: left;
	width: 50%;
	line-height: .45rem;
	text-align: center;
	color: #0076FF;
	border-top: 1px solid #D8D8D8;
}
.opacity .con li:last-of-type{
	border-left: 1px solid #D8D8D8;
}
.opacity .con h2,.opacity .con input{
	display: none;
}
.opacity .reason h2{
	display: block;
	font-size: .18rem;
	color: #222;
	text-align: center;
	line-height: .4rem;
}
.opacity .reason input{
	display: block;
	margin-left: .2rem;
	margin-bottom: .12rem;
	width: 2.3rem;
	height: .24rem;
	color: #999;
	text-indent: 2em;
	background-color: #fff;
	border-radius: 3px;
}

.custom-service{
	position: fixed;
	right: .1rem;
	bottom: .6rem;
	width: .6rem;
	height: .6rem;
	background: url(../imgs/custom-service.png) no-repeat;
	background-size: contain;
}

::-webkit-input-placeholder{
	color: #999;
}
::-moz-input-placeholder{
	color: #999;
}
::input-placeholder{
	color: #999;
}


#top{
	position: fixed;
	right: .1rem;
	bottom: .1rem;
	width: .4rem;
	height: .4rem;
	z-index: 10;
	display: none;
	opacity: 0;
	transition: all .5s;
}
#top>img{
	width: 100%;
	height: 100%;
}