body{
	background-color: #f0f0f0;
}


#top{
	position: fixed;
	right: .1rem;
	bottom: .1rem;
	width: .4rem;
	height: .4rem;
	z-index: 10;
	display: none;
	opacity: 0;
	transition: all .5s;
}
#top>img{
	width: 100%;
	height: 100%;
}

/*********商品列表公共部分*********/
.goods-item{
	position: relative;
	margin-top: .1rem;
	background-color: #fff;
}
.goods-item:last-of-type{
	margin-bottom: .1rem;
}
.goods-item a{
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 100%;
}
.goods-item>h2{
	margin-right: .2rem;
	line-height: .34rem;
	color: #CB68A4;
	text-align: right;
}
.goods-item .goods-intr{
	position: relative;
	padding-bottom: .1rem;
	overflow-y: auto;
}
.goods-item .goods-imgs{
	float: left;
	width: .95rem;
	overflow: hidden;
}
.goods-item .goods-imgs>img{
	margin-left: .05rem;
	width: .9rem;
	height: .9rem;
	border: 1px solid #eee;
	border-radius: 5px;
	opacity: 0;
	transition: all 1s;
}
.goods-item .goods-imgs:first-of-type{
	width: 1.05rem;
}
.goods-item .goods-imgs:first-of-type>img{
	margin-left: .15rem;
}
.goods-item .goods-price{
	padding-left: .15rem;
	padding-right: .2rem;
	padding-top: .1rem;
	height: .44rem;
	border-top: 1px solid #F0F0F0;
	overflow: hidden;
}
.goods-item .goods-price>*{
	float: left;
	line-height: .25rem;
	font-size: .12rem;
	color: #222;
}
.goods-item .goods-price>span{
	
}
.goods-item .goods-price>i{
	
}
.goods-item .goods-price>em{
	float: right;
	width: .6rem;
	height: .25rem;
	line-height: .25rem;
	text-align: center;
	color: #CB68A4;
	border: 1px solid #999;
	border-radius: 3px;
}
/*********一件商品*********/
.one{}

.one .goods-detail{
	margin-right: .15rem;
	float: right;
	width: 2.4rem;
}
.one .goods-detail>h3{
	line-height: .2rem;
	font-size: .14rem;
	color: #222;
}
.one .goods-detail>p{
	margin-top: .1rem;
}
.one .goods-detail>p span{
	color: #999;
}
.one .goods-detail>p i{
	color: #999;
}

.more .goods-imgs{
}

.more .goods-intr-wrap{
	overflow: hidden;
}
.all-order-public{
	position: absolute;
	left: 0;
	top: .94rem;
	bottom: 0;
	width: 100%;
	overflow-y: auto;
}